body {
  background-color: rgb(221, 221, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.updatePasswordBtn {
  margin-top: 2vh;
  border-radius: 20px;
}

/*start of media queries*/
@media screen and (min-width: 768px) {
  .resetPasswordForm {
    width: 500px;
  }
}
@media screen and (max-width: 480px) {
  .resetPasswordForm {
    width: 300px;
    padding-top: 20%;
    padding-bottom: 10%;
  }
}

input.ng-dirty.ng-valid {
  border-color: #42a948;
}

input.ng-dirty.ng-invalid {
  border-color: #a94442;
}
.notifyError {
  color: #a94442;
}

/*custom color for bootstrap buttons*/
.btn-outline-success {
  color: #c03546;
  background-color: transparent;
  background-image: none;
  border-color: #c03546;
}
.btn-outline-success:hover {
  color: #fff;
  font-weight: 500;
  background: linear-gradient(57deg, #c03546, #f26d5b);
  border-color: #c03546;
}
.btn-outline-success:focus,
.btn-outline-success.focus {
  box-shadow: 0 0 0 0.1rem #c03546;
}
.btn-outline-success.disabled,
.btn-outline-success:disabled {
  color: #f26d5b;
  cursor: not-allowed;
  background-color: transparent;
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  background-color: transparent;
  border-color: #c03546;
}
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.1rem #c03546;
}
